

services:
  mongo-db:
    image: mongo:latest
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  auth-service:
    build:
      context: ./backend/auth-service
      dockerfile: Dockerfile
    container_name: house-manager-auth-service
    ports:
      - "8001:8001"
    depends_on:
      - mongo-db

  task-service:
    build: ./backend/task-service
    container_name: house-manager-task-service
    ports:
      - "8002:8002"
    depends_on:
      - mongo-db

  calendar-service:
    build: ./backend/notification-service
    container_name: house-manager-notification-service
    ports:
      - "8003:8003"
    depends_on:
      - mongo-db

  frontend:
    build: ./frontend
    container_name: house-manager-frontend
    ports:
      - "3000:3000"

volumes:
  mongo-data:
