.task-category {
  padding: 10px;
  border-radius: 5px;
}

.task-category.Bathroom {
  background-color: lightblue;
}

.task-category.Bedroom {
  background-color: lightgreen;
}

.task-category.Garden {
  background-color: lightcoral;
}

.task-category.Kitchen {
  background-color: lightgoldenrodyellow;
}

.task-category.Laundry {
  background-color: lightpink;
}

.task-category.LivingRoom {
  background-color: lightcyan;
}

.task-details {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
