body {
    background-color: lightgreen; /* Change background color to light green */
    color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin: 2rem;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

.logo {
    width: 100px;
    margin-bottom: 1rem;
}

.formGroup {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: black;
    text-align: left; /* Align text to the left */
}

.input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: black;
    background-color: white;
}

.button {
    width: 100%;
    padding: 0.75rem;
    background-color: #6c757d; /* Changed to match the secondaryButton */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5a6268; /* Changed to match the secondaryButton */
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.secondaryButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.secondaryButton:hover {
    background-color: #5a6268;
}

.secondaryButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.navButton:hover {
    background-color: #0056b3;
}

.navButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    font-size: 0.875rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}
